<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="background: #ddd; height: 100vh; display: flex; align-items: center;">
        <div
            style="font-family:'Poppins', sans-serif; background: #fff; max-width: 550px;  margin: auto; min-height: 40vh;">
            {{>header}}
            <div style="padding: 0 40px; background: #fff; font-size: 15px; ">
                <h1 style="font-family: Poppins;
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 30px;
                    text-align: left;
                    color: #2c2c2c;">
                    {{translate subject}}</h1>
                {{{body}}}
                <div style="padding: 30px 0;">
                    {{translate "MyApp Team"}}
                </div>
            </div>
            {{>footer}}
        </div>
    </div>
</body>

</html>